/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Sarabun', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --font-size-content: rem(16px);


    /// Grosseur des textes
    --font-size-h1: rem(40px);
    --font-size-h2: rem(32px);
    --font-size-h3: rem(28px);
    --font-size-h4: rem(24px);
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

}
